/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* corpo */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f2fffc;
    color: #34495e;
}

/* formulário */
form {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid #2ecc71;
}

/* Cabeçalho */
header {
    text-align: center;
    margin-bottom: 30px;
}

/* Títulos */
h1 {
    color: #2c3e50;
    font-size: 26px;
    margin-bottom: 15px;
}

h2 {
    text-align: center; /* Centraliza o texto */
    color: #2c3e50;
    font-size: 22px;
    margin-bottom: 20px;
}


label {
    display: block;
    margin: 15px 0 5px;
    font-weight: bold;
    color: #34495e;
}

/* Estilo dos campos de entrada */
input[type="text"],
input[type="email"],
select {
    width: 100%;
    padding: 14px;
    margin-bottom: 20px;
    border: 1px solid #2ecc71;
    border-radius: 4px;
    font-size: 15px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

    input[type="text"]:focus,
    select:focus {
        border-color: #27ae60;
        box-shadow: 0 0 5px rgba(46, 204, 113, 0.5);
    }

/* Estilo do botão */
button,
input[type="submit"],
input[type="button"] {
    width: 100%;
    padding: 14px;
    background: #2c3e50;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s, transform 0.2s;
}

    button:hover,
    input[type="submit"]:hover,
    input[type="button"]:hover {
        background: #1a252f;
        transform: translateY(-1px);
    }

/* Cores das Mensagens de erro */
.error {
    color: #e74c3c;
    font-size: 0.9em;
    margin-top: 5px;
}

/* Rodapé */
footer {
    text-align: center;
    margin-top: 30px;
    font-size: 0.9em;
    color: #777;
}

/* responsividade */
@media (max-width: 768px) {
    form {
        padding: 15px;
    }

    h1 {
        font-size: 22px;
    }

    label {
        margin: 12px 0 4px; /* Ajustar margens para rótulos */
    }

    input[type="text"],
    input[type="email"],
    select {
        padding: 12px;
        font-size: 14px;
    }

    button,
    input[type="submit"],
    input[type="button"] {
        padding: 10px;
        font-size: 14px;
    }
}
